
.open-sans-normal {
  font-family: "Open Sans", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/*  share   */


nav{
    height: 100px;
}
nav ul{
    display: flex;
  justify-content: space-around;
 align-items: center;
 list-style:none;
}
nav li a{
    text-decoration: none;
}
.nav-home{
    color: #000;
font-size: 32px;
font-weight: 700;
}
.nav-btn {
    font-size: 18px;
    font-family: 600px;
    border: 1px solid rgb(0, 106, 80);
    border-radius: 8px;
    padding: 15px 30px 15px 30px;
    color: rgb(0, 106, 80);
}


/*  main-hero-container */.main-hero-container{
    width: 1280px;
    height: 560px;
    margin:  0 auto;
    background: rgb(198, 228, 214);
    border-radius: 24px;
padding: 80px 100px 80px 100px;
}
.hero-container{
    display: flex;
    align-items: center;
    border-radius: 24px; 
}

 .hero-container-two{
 display: flex;
 align-items: center;
 padding: 20px 20px;
}
.hero-sub-text{
font-size: 24px;
font-weight: 500;
}

.hero-title{
    font-size:  56px;
    color: rgb(14, 14, 14);
   
    font-size: 56px;
    font-weight: 700;
    line-height: 67px;
    letter-spacing: 0%;
  
}
.hero-text-btn{
    font-size: 18px;
    font-weight: 600;
    border-radius: 8px;
     background: rgb(0, 106, 80);
     padding: 17px 34px 17px 34px;
color: white;
}
/* section Bangladesh 2.0*/
.Pillars-container{
    width: 1280px;
    height: 408px;
    margin: 0 auto;
} 
.pillar-text{
    color: rgb(14, 14, 14);
    font-size: 40px;
font-weight: 700;
line-height: 48px;
}



.Pillar-item{
    display: flex;
 gap: 24px;
}
.Pillars-items{
 width: 302px;
height: 244px;
box-sizing: border-box;
border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
background:white;
padding: 24px;
}
.pillars-title{
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}
.pillars-contant{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
}
  
/*  Vision section  */
.Vision-of-Future-box {
width: 1280px ;
height: 765px;
margin:0  auto;
}
.Vision-item{
    display: flex;
    gap:24px ;
}
.Vision-first-title{
    color: rgb(14, 14, 14);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
  
}
.Vision-text{
    color: rgba(14, 14, 14, 0.8);
    font-family: Fira Sans;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
}
.vision-title{
    color: rgba(14, 14, 14, 0.7);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
   
}
.vision-title-desription{
    color: rgba(14, 14, 14, 0.7);

font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;

}

.vison-item-one{
    width: 410.67px;
    height: 325px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgba(84, 144, 245, 0.2);
    padding: 32px;
}
.vison-item-two{
    width: 410.67px;
    height: 325px;
    box-sizing: border-box;
    border-radius: 16px;
    background: rgb(198, 228, 214);
    padding: 32px;
}
.vison-item-three{
    width: 410.67px;
    height: 325px;
    box-sizing: border-box;
    border-radius: 16px;

    background: rgb(246, 224, 224);
    padding: 32px;
}
.Vision-text{
color: rgba(14, 14, 14, 0.8);
font-size: 20px;
font-weight: 700;
line-height: 24px;
letter-spacing: 0%;

}
.Vision-title{
    color: rgba(14, 14, 14, 0.7);
font-family: Fira Sans;
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
}

.vision-title-btn-one{
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    padding: 11px 20px 11px 20px;
    border-radius: 8px;
cursor: pointer;
background: rgb(84, 144, 245);
border: none;
}
.vision-title-btn-two{
    color: rgb(255, 255, 255);
font-size: 16px;
font-weight: 600;
line-height: 19px;
letter-spacing: 0%;
padding: 11px 20px 11px 20px;
cursor: pointer;

border-radius: 8px;

background: rgb(9, 161, 92);
border: none;
}
.vision-title-btn-three {
  color: rgb(255, 255, 255);

font-size: 16px;
font-weight: 600;
line-height: 19px;    
padding: 11px 20px 11px 20px;
border-radius: 8px;
cursor: pointer;
background: rgb(255, 194, 57);
border: none;
}

button:hover{
background-color: rgb(19, 49, 19);
 color: azure;

}
.Lorem-desription-main{
width: 1280px;
height: 256px;
 background-image:url("/assets/quote-bg.png");
mix-blend-mode: saturation;
background-size: 100px;
 background-repeat: no-repeat;
background-color: rgb(252, 249, 249);
border-radius: 16px;
border: none;
}
.title-text-name{
font-size: 20px;
 font-weight: 600;
line-height: 24px;

}
.title-desription-text{
color: rgba(14, 14, 14, 0.6);
font-size: 16px;
font-weight: 400;
line-height: 24px;
}

.Lorem-desription{
padding: 48px 24px 48px 24px;
margin: 50px auto;

 border: 1px solid rgba(14, 14, 14, 0.15);
border-radius: 16px;
 border: none;


}
.Recent-News{
    margin-top: 100px  0;
}


/* satelite-container-box-main */
.satelite-container-box-main{
    width: 1280px;
height: 402px;
margin: 10px auto;
border-radius: 24px;
background: rgb(238, 236, 236);

}

.satelite-container{
    display: flex;
    gap: 24px;
    padding: 48px;
}
.time-text{
    display: flex;
}
.satelite-imge{
    border-radius: 24px;
} 
.Al-jazeera{
    width: 134px;
height: 40px;
    background-image: url("/assets/al-jazeera.png");
}
.Recent-News{
    width: 1280px;
height: 120px;
margin: 0 auto;

}
.read-btn{
color: rgb(255, 255, 255);

font-size: 18px;
font-weight: 600;
line-height: 22px;
border-radius: 8px;

background: rgb(0, 106, 80);
padding: 13px 26px 13px 26px;
border: none;
}
/* margine-div   */



.margine-div{
    margin-top: 50px;
}

/* Donate-container  */
.Donate-container{
    width: 1280px;
    height: 464px;
    margin: 0 auto;  
 text-align: center;
}
.money-btn{
    color: rgba(14, 14, 14, 0.8);
    font-size: 40px;
    font-weight: 700;
    line-height: 48px;
    padding: 40px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    border: none;
    background: rgb(198, 228, 214);
    gap: 24px;
    
}
.money-btn-container{
    display: flex;
  gap: 24px;
  align-items: center;
justify-content: center;

}

/*  */
.many-input> input{
color: rgba(14, 14, 14, 0.3);
 font-size: 20px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
margin: 40px 0;
padding: 20px 40px 20px 40px;
width: 60%;
text-align: center;
border: none;

border-bottom: 0px solid rgba(14, 14, 14, 0.15);
background: rgb(246, 240, 240);
}
.Done-Now{
color: rgb(250, 234, 234);
font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
border: 1px solid rgba(14, 14, 14, 0.1);
border-radius: 8px;
padding: 17px 34px 17px 34px;
background: rgb(0, 106, 80);
border: none;
}
.Subscribe-Newsletter-container{
width: 1280px;
height: 395px;
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 0 auto;
  border-radius: 24px;
text-align: center;
background: rgb(198, 228, 214);
}
.Subsribe-Newsletter{
    margin: 80px 0px;  

}
.Subscribe-text{
color: rgb(14, 14, 14);
font-size: 40px;
font-weight: 700;
line-height: 48px;
letter-spacing: 0%;
text-align: center;
}
.Subscribe-title{
 color: rgba(14, 14, 14, 0.7);
font-size: 16px;
font-weight: 400;
line-height: 24px;
letter-spacing: 0%;
text-align: center;
}
.email-input>input[ type="email"]  {
padding: 18px 40px 18px 40px;
background: rgb(255, 255, 255);

font-size: 16px;
font-weight: 400;
line-height: 19px;
letter-spacing: 0%;
border-radius: 8px 0px 0px 8px;

border: none;
}
.email-input>input[type="submit"]{
color: rgb(255, 255, 255);
background: rgb(255, 255, 255);

font-size: 18px;
font-weight: 600;
line-height: 22px;
letter-spacing: 0%;
border-radius: 0px 8px 8px 0px;
padding: 17px 34px 17px 34px;
background: rgb(0, 106, 80);  
border: none;  
}  
.email-input>input[type="submit"]:hover{
    background-color: green;
    color: white;
}